.top-row {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    background-color: white;
    width: 100%;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.profile-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem; 
    color: #333; 
}

    .profile-container:hover {
        color: #007bff; /* Color al pasar el mouse */
    }
