@page "/"
@using BankTrackerApp.Shared.Services
@inject IFormFactor FormFactor

<MudCarousel Class="mud-width-full" Style="height:300px;" ShowArrows="true" ShowBullets="true" AutoCycle="false" TData="object">
    
    @* ITEM 1: RESUMEN DE CUENTA Y ÚLTIMAS OPERACIONES *@
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex flex-column pa-6" style="height:100%">
            
            @* Parte Superior: Nombre y Saldo *@
            <div class="mb-4">
                <MudText Typo="Typo.h6">@_cuenta.NumeroCuenta</MudText>
                <MudText Typo="Typo.h6">@_cuenta.NombreTitular</MudText>
                <MudText Typo="Typo.h3" Class="mud-text-white">@_cuenta.Saldo €</MudText>
            </div>

            <MudDivider Class="mb-4" Style="background-color: rgba(255,255,255,0.2)" />
        </div>
    </MudCarouselItem>

</MudCarousel>